.markdown-section{
    font-size: 18px;
}

.sidebar ul li a{
    font-size: 18px;
}

.app-name-link{
    font-size: 2.0rem;
}

img.floaters{
    float:right;
    width: 20%;
    margin: 20px;
}

img.first-of-type {
    display:block;
    float: none;
    width:40%;
    margin-left: auto;
    margin-right: auto;
}