.markdown-section{
    font-size: 18px;
}

.sidebar ul li a{
    font-size: 18px;
}

.app-name-link{
    font-size: 2.0rem;
}

img.floaters{
    float:right;
    width: 20%;
    margin: 20px;
}

img.floaterswide{
    float:right;
    width: 40%;
    margin: -40px 10px 10px auto;
}

.markdown-section code{
    color:blue;
}
#images{
    text-align:center;
    margin:-50px auto 0px auto; 
    float:right;
    width: 20%;
    margin-left: 20px;
    clear: right;
}

img.first-of-type {
    display:block;
    float: none;
    width:40%;
    margin-left: auto;
    margin-right: auto;
}

img.aws {
    display:block;
    float: none;
    width:75%;
    margin-left: auto;
    margin-right: auto;
}

img.awssmaller {
    display:block;
    float: none;
    width:60%;
    margin-left: auto;
    margin-right: auto;
}
img.awssmallest {
    display:block;
    float: none;
    width:40%;
    margin-left: auto;
    margin-right: auto;
}
img.left{
    margin-left:10px;
}

.markdown-section code{
    color: black;
    font-weight: bold;
}
.markdown-section>:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) code{
    font-size: 16px;
}
